 {
     "presets": [
         ["es2015", {
             "modules": false
         }],
         "stage-2"
     ]
    //   , "plugins": [
    //       ["@babel/plugin-transform-regenerator", {
    //           "asyncGenerators": true,
    //           "generators": true,
    //           "async": true
    //       }]
    //   ]
    , "plugins": [
        ["transform-runtime", {
                "polyfill": false,
            "regenerator": true,
            "moduleName": "babel-runtime"
        }]
    ]
    //  ,"plugins": ["transform-async-to-generator"]
    // , "plugins": ["syntax-async-functions"]
 }