 {
     "presets": [
         [
            "@babel/env",
            {
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ],
         ["es2015", {
             "modules": false
         }],
         "stage-2"
     ]
    //   , "plugins": [
    //       ["@babel/plugin-transform-regenerator", {
    //           "asyncGenerators": true,
    //           "generators": true,
    //           "async": true
    //       }]
    //   ]
    ,
    "plugins": [
        [
            "@babel/plugin-transform-runtime"
        ]
    ]
    //  ,"plugins": ["transform-async-to-generator"]
    // , "plugins": ["syntax-async-functions"]
 }